* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
   width: 80%;
   min-height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   justify-content: space-around;
   background-color: black;
}

h4 {
    color: white;
    text-align: center;
    font-size: 2rem;
}

h1 {
    color: white;
    position: fixed;
    transform: translate(300px, 150px);
    font-size: 3rem;
    text-transform: uppercase;
}

.images-container {
    height: auto;
    display: flex;
    overflow-x: scroll;
    position: relative;
    gap: 50px;
}

.next-button {
    position: fixed;
    transform: translate(800px, 150px);
    background-color: #E31244;
    border: none;
    padding: 16px;
    border-radius: 30px;
    color: white;

}

.image-item {
    border-radius: 40%;
}